/vendor/
.env
/storage/logs/*
!/storage/logs/.gitkeep
/storage/mail/*
!/storage/mail/.gitkeep
/biometrics/.venv/
__pycache__/
.phpunit.cache/
.phpunit.result.cache
dump.rdb
/biometrics/models/*
!/biometrics/models/.gitkeep
/biometrics/tests/assets/
/biometrics/.pytest_cache/
/storage/tmp/*
!/storage/tmp/.gitkeep
/docs/demo/demo-visuelle.html
